body {
    background-color: black;
}
.file-wrap {

}
#keyboard-input::before {
    content:"BUFFER: ";
}
.wrap.file > table {
    width:100%;
}
.wrap > table>tbody>tr > td > a:link {
    color:white;
}
.wrap {
    margin:0px;
    height:320px;
    overflow-y: scroll;
    color: #A9B7C6;
    background-color:#212225;
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-variant-ligatures: none;
}
.wrap > table {
    color: #A9B7C6;
    background-color:#313335;
    
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
}
.wrap>table>thead {
    background-color:#212225;
}
.wrap>table>thead>tr>th {
    padding-top:5px;
    padding-bottom:5px;
}
.wrap>table>*>tr>* {
    padding-left:20px;
    padding-right:20px;
}
.ram>table>tbody>tr:nth-child(2n-1) {
    background-color:#717775;
    color: #000000;
}
.breakpoints {
    background-color:#212225;
    width:30px;
}
.spacer {
    width:20px;
    background-color:#2B2B2B;
}
.ultralight {
    background-color: #A9B7C6;
    color:#313335;
}
.ultra-btn {
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-variant-ligatures: none;
    width:auto;
    color: #A9B7C6;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    border:1px solid #FFF;
    background-color:#313335;
    border-radius: 5px;
    display:inline-block;
    margin:10px;
}
a.ultra-btn:hover{
    color:#313335;
    background-color: #A9B7C6;
}
.screen {
    font-family: monospace;
    font-size:20px;
    font-variant-ligatures: none;
    background-color: #282828;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 40, 0, 0.75), black 120%
    );
    color: #66ff66;
    color:#A9B7C6;
    /*height:24em;
    width:33em;*/
    line-height:120%;
    border:2px solid #121212;
    border-radius: 5px;
}
.screen.small {
    font-size:12px;
}
.screen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
        0deg,
        rgba(0,0,0, 0.15),
        rgba(0,0,0, 0.15) 1px,
        transparent 1px,
        transparent 2px
    );
}
.CodeMirror-buttonsPanel {
    margin-bottom:-6px;
    padding-left:10px;
    padding-top:10px;
    width:auto;

}
.CodeMirror-regPanel {
    height: fit-content;
    vertical-align: top;
    margin-top:10px;
}
.CodeMirror-buttonsPanel input {
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-variant-ligatures: none;
    width:auto;
    
    color: #A9B7C6;
    background-color: #212225;
    text-align: center;
    margin-bottom:20px;
    display:block;
    padding:4px;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
    
    border:1px solid #FFF;
    background-color:#313335;
    border-radius: 5px;
    display:inline;
    margin-bottom:10px;
}
.CodeMirror-buttonsPanel input::before {
    content: attr(cycles,0);
}
.CodeMirror-buttonsPanel button {
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-variant-ligatures: none;
    width:auto;
    
    color: #A9B7C6;
    //background-color: #212225;
    text-align: center;
    //margin-bottom:20px;
    //display:block;
    padding: 4px 10px;
    margin-right:10px;
    
    border:1px solid #FFF;
    background-color:#313335;
    border-radius: 5px;
    display:inline;
    margin-bottom:10px;
}
.CodeMirror-reporter {
    font-family:  Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;
    font-variant-ligatures: none;
    color: #A9B7C6;
    padding:4px;
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
    
    border:1px solid #FFF;
    background-color:#313335;
    border-radius: 5px;
    display:block;
    margin-bottom:10px;
    width:100px;
}
.CodeMirror-reporter::before {
    content:attr(regname);
}