---
---

@import "{{ site.theme }}";
.page-header {
    color: #5fdbd3;
    text-align: center;
    background-color: #35002E;
    background-image: none;
}
.page-header>.btn {
    visibility: hidden;
    display:none;
    
}
body {
    background-color: #7078d1;
    color: #42013B;
}
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #42013B;
}