---
---

@import "{{ site.theme }}";
.page-header {
    color: #5fdbd3;
    text-align: center;
    background-color: #35002E;
    background-image: none;
}
.page-header>.btn {
    visibility: hidden;
    display:none;
    
}